@font-face {
    font-family: monster-re;
    src: url("/assets/font/monterat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: monster-bold;
    src: url("/assets/font/monterat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: monster-light;
    src: url("/assets/font/monterat/Montserrat-Light.ttf");
}

:root {
    --blue: #1e90ff;
    --white-main: #fefcfe;
    --black-soft: #34495e;
    --black-dark: #2c3e50;
    --orange-soft: #f9f3f1;
    --orange-c: #f8f2f0;
    --orange: #fdb17d;
    --yelow-light: #fdb17d;
    --blue-light: #74b9ff;
    --purple: #6c5ce7;
    --green-matcha: #8dbe77;
    --gradient: linear-gradient(to bottom, #fdfdfd00, #2c3e50c5);
    --boxShadow-Re: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    background-color: var(--white-main);
    font-family: "monster-re", sans-serif;
}

/* // common css  */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dflex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.btn {
    display: inline-block;
    padding: .75em 1em;
    color: white;
    background-color: var(--blue);
    text-align: center;
    cursor: pointer;
}

.btn--freeTrial {
    border-radius: 1em;
    padding: 0.5em 1.1em;
    background-color: var(--black-dark);
    margin-left: 1.5em;
}

.wrapper {
    width: 1200px; 
    margin: 0 auto;
}

/* // header  */
.header {
    background-color: var(--white-main);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.header__logo {
    font-family: "monster-bold";
    font-size: 1.5rem;
    color: var(--black-soft);
    position: relative;
}

.header__logo::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--green-matcha);
    position: absolute;
    right: -10px;
    bottom: 5px;
}

.header__menu {
    width: 600px;
}

.header__menu>li {
    margin-right: 1em;
}

.header__menu>li>a,
.auth>a {
    font-weight: 600;
    color: var(--black-soft);
}

/* // banner */
.banner {
    margin-top: 150px;
    position: relative;
    height: 500px;
}

.banner__left {
    width: 33%;
    position: relative;
    height: 400px;
}

.banner__right {
    width: 66%;
}

.banner__courseItem:first-child {
    width: 66%;
}

.banner__courseItem {
    width: 33%;
    margin: 1em;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
}

.banner__courseItem::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--gradient); 
}

.banner__courseItem>.banner__des {
    position: absolute;
    bottom: 3.5em;
    z-index: 2;
    height: 100px;
    width: 100%;
}

.banner__courseItem>.banner__des>a,
.banner__courseItem>.banner__des>p {
    color: var(--white-main);
    font-size: 1.5rem;
}

.banner__courseItem>.banner__des>p{
    font-size: 1.1rem;
    text-align: center;
}
.banner__courseItem>.banner__des>p>span{
    font-size: 2rem;
    font-weight: bold;
}


.banner__courseItem:first-child>.banner__des>a {
    padding-left: 3em;

}

.banner__courseItem>img {
    height: 380px;
}

.banner__paraph {
    position: relative;
    top: 3em;
}

.banner__paraph>p{
   font-size: 2.8rem;
   margin: 0;
   display: inline-block;
   font-family: "monster-bold";
   position: relative;
}

.banner__paraph>p::after{
    content: "▪";
    position: absolute;
    right: -0.5em;
    bottom: -10px;
}

.punchLine {
    position: absolute;
    bottom: 4em;
    z-index: 3;
    width: 510px;
    /* width: 100%; */
    right: -5em;
    height: 100px;
    background-color: white;
    box-shadow: var(--boxShadow-Re);
    overflow: hidden;
}

.punchLine>p {
    padding: 2em;
    padding-left: 3em;
    font-size: 1.3rem;
    font-weight: bold;
}

.btn--punchLine {
    position: absolute;
    font-size: 2.3rem;
    right: 0;
    top: 0;
    color: var(--black-dark);
    background-color: var(--green-matcha);
    text-align: center;
}

.btn--punchLine>a{
    position: relative;
    z-index: 3;
    color: var(--black-dark);
}

.btn--punchLine::after {
    content: "";
    transition: 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 100%;
    background-color: var(--orange);
}

.btn--punchLine:hover::after {
    top: 0;
}

/* // categories */

.catalog {
    /* margin-top: 4em; */
    /* padding: 4em 0; */
    padding-top: 4em;
    height: 800px;
    background-color: var(--orange-soft);
}

.catalog__header {
    text-align: center;
}

.catalog__header>p{
    font-family: "monster-light";
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.catalog__header>p::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--green-matcha);
    position: absolute;
    right: -10px;
    bottom: 5px;
}

.catalog__tabs>ul{
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
}

.catalog__tabs>ul>li{
    margin: 0 0.7em;
}

.catalog__tabs>ul>li:first-child{
    text-decoration: underline;
}

.catalog__main {
    margin-top: 4em;
    align-items: end;
}

.catalog__main>.catalog__item {
    width: 500px;
    width: 22%;
    position: relative;
}

.catalog__main>.catalog__item > .catalog__itemImg {
    position: relative;
    overflow: hidden;
    border-radius: 2em;
}

.btn--share  {
    background-color: var(--white-main);
    color: var(--black-dark);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 0;
}

.btn--share>svg  {
    padding: 1em;
}

.catalog__main>.catalog__item > .catalog__itemImg .btn--share {
    position: absolute;
    right: -3em;
    top: -3em;
    transition: .4s ease-in-out;
}

.catalog__main>.catalog__item:hover > .catalog__itemImg .btn--share {
   right: 1em;
   top: 1em;
}

.catalog__main>.catalog__item:hover > a {
   color: var(--green-matcha);
}

.catalog__main>.catalog__item.lv1>.catalog__itemImg img {
    height: 200px;
}

.catalog__main>.catalog__item.lv2>.catalog__itemImg img {
    height: 300px;
}

.catalog__main>.catalog__item.lv3>.catalog__itemImg img {
    height: 400px;
}

.catalog__item>a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black-dark);
    display: block;
    transition: 0.4s;
    margin: 0.2em 0;
}

.catalog__item>small {
    font-weight: bold;
    color: var(--black-dark);
}

/* /// INTRO  */
.intro-main {
    background-color: var(--orange-c);
}

.intro-skillx>div{
    width: 50%;
    height: 200px;

}

.intro-skillx>div>p{
    font-family: "monster-bold";
    font-size: 1.2rem;
    line-height: 0.6em;
}

.intro-skillx>div:first-child p{
    font-size: 2rem;
    font-weight: bolder;
}

.intro-skillx>div:last-child {
    padding-top: 2em;
}

.intro-roadmap {
    width: 30%;
}

.roadmapItem {
    display: flex;
    margin: 3em 0;
}

.roadmapItem> span{
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin-right: 2em;
    border-radius: 50%;
    position: relative;
}

.roadmapItem> span::after{
    content: "-------";
    position: absolute;
    bottom: -3em;
    transform: rotate(90deg);
}

.roadmapItem> span .bi-award{
    color: var(--yelow-light);
}

.roadmapItem> span .bi-book{
    color: var(--blue-light);
}

.roadmapItem> span .bi-lightning-charge{
    color: var(--purple);
}

.roadmapItem> div >{
    color: var(--purple);
}

.intro-video {
    width: 70%;
    position: relative;
}

.intro-video > video {
    width: 100%
}

.intro-video > .video {
    border-radius: 3em;
    overflow: hidden;
    box-shadow: var(--boxShadow-Re);
    position: relative;
}

.video-card {
    position: absolute;
    left: 28%;
    top: -3em;
    z-index: 2;
    width: 66%;
    background-color: var(--green-matcha);
    height: 100px;
}

.video-card> div {
    display: flex;
    align-items: center;
    width: 50%;
    height: 60px;
    padding:  0 3em;
}

.video-card> div:first-child {
    border-right: 1px solid #000;
}

.video-card> hr {
    background: #000;
    transform: rotateX(90);
}

.video-card> div > b{
    font-size: 2rem;
    margin-right: 1em;
}

.video-card p {
    font-size: 0.8rem;
}